@model PhoneShop.ViewModels.FilterProductsViewModel

@{
    var defaultImageURL = "/Content/images/system/placeholder-image.png";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>

<link href="~/Content/stylesheets/font-awesome.css" rel="stylesheet" />
<link href="~/Content/stylesheets/homeStyle.css" rel="stylesheet" />

<div class="filter-shop clearfix">
    <p class="showing-product" style="float: right">
        @if (Model.Pager.TotalItems > 0)
        {
            <text>顯示 @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) 至 @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize)) 個，</text>
        }
        共 @Model.Pager.TotalItems 個產品
    </p>
</div>

@foreach (var product in Model.Products)
{
    var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defaultImageURL : product.ImageURL;

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="@imageURL" alt="image" style="height: 250px; width: 200px">
            <div class="caption">
                <span style="text-align: center; display: block">@product.Name</span>
                <div>
                    <ins>
                        <span style="text-align: center; display: block">NT$ @product.Price</span>
                    </ins>
                </div>

                <div>
                    <a class="productAddToCart btn btn-primary" style="text-align: center; display: block" data-id="@product.ID">加入購物車</a>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Products.Count >= 1 && Model.Products.Count <= 3)
{
    //若顯示的產品列表只有1~3個，補加高度
    <div class="col-md-12" style="height: 372px;">

    </div>
}

<div class="col-md-12">
    @if (Model.Pager != null && Model.Pager.TotalPages > 1)
    {
        <div class="product-pagination text-center clearfix">
            <ul class="flat-pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="prev">
                        <a data-href="@Url.Action("FilterProducts", "Home", new { pageNo = Model.Pager.CurrentPage - 1, sortBy = Model.SortBy, categoryID = Model.CategoryID })" class="pageDataLink" style="cursor: pointer;"><i class="fa fa-angle-left"></i></a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                    <li class="@activeClass"><a data-href="@Url.Action("FilterProducts", "Home", new { pageNo = page, sortBy = Model.SortBy, categoryID = Model.CategoryID })" title="" class="pageDataLink" style="cursor: pointer;">@page</a></li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li><a data-href="@Url.Action("FilterProducts", "Home", new { pageNo = Model.Pager.CurrentPage + 1, sortBy = Model.SortBy, categoryID = Model.CategoryID})" class="pageDataLink" style="cursor: pointer;"><i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
        </div>
    }
</div>

<input type="hidden" id="SearchTerm" value="@Model.SearchTerm" />
<input type="hidden" id="SortBy" value="@Model.SortBy" />
<input type="hidden" id="CategoryID" value="@Model.CategoryID" />

<script>
    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");
        if (url != "" || url != undefined) {
            GetData(url);
        }
    });

    var products;
    $(".productAddToCart").click(function () {
        var existingCookieData = $.cookie('CartProducts');

        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {
            products = existingCookieData.split('-'); // cookie 有 CartProducts ， 分割 - ，回陣列；刷新判斷 products 存在
        } else {
            products = []; // cookie 沒有 CartProducts
        }

        var productID = $(this).attr("data-id");

        products.push(productID);

        $.cookie("CartProducts", products.join('-'), { path: '/' }); // join("-") 分割 + -

        swal("完成", "產品已加入購物車清單", "success").then(() => {
            updateCartProducts();
            window.location.reload();
        });
    });
</script>