@using PhoneShop.code
@model PhoneShop.ViewModels.HomeViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<link href="~/Content/stylesheets/font-awesome.css" rel="stylesheet" />
<link href="~/Content/stylesheets/homeStyle.css" rel="stylesheet" />

@{
    var defaultImageURL = "/Content/images/system/placeholder-image.png";
    Dictionary<string, string> carouselImage = new Dictionary<string, string>();
    Dictionary<string, string> carouselProductCategory = new Dictionary<string, string>();
    Dictionary<string, string> carouselProductName = new Dictionary<string, string>();
    var i = 0;

    foreach (var product in Model.CarouselProducts)
    {
        var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defaultImageURL : product.ImageURL;
        carouselImage.Add("image" + i, imageURL);
        carouselProductCategory.Add("category" + i, product.Category.Name);
        carouselProductName.Add("name" + i, product.Name);
        i++;
    }
}

<div class="page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">手機商店</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators" style="background-image: linear-gradient(360deg, #c0c0c0, #888888)">
                    @for (int j = 0; j < i; j++)
                    {
                        <li data-target="#carousel" data-slide-to="@j" class="@if (j == 0) { <text>active</text> } "></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int j = 0; j < i; j++)
                    {
                        <div class="item @if (j == 0) { <text>active</text> }" style="width: auto; height: 500px;">
                            <img class="center-block" style="width: 40%; height: 75%" src="@carouselImage["image" + j]" alt="First slide">
                            <div class="carousel-caption">
                                <h3>@carouselProductCategory["category" + j]</h3>
                                <h2>@carouselProductName["name" + j]</h2>
                            </div>
                        </div>
                    }
                </div>
                <a href="#carousel" class="left carousel-control" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a href="#carousel" class="right carousel-control" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar slidebar-shop">
                <div class="widget widget-search">
                    <form role="search" method="get" class="search-form" action="@Url.Action("Index", "Home")">
                        <label>
                            <input type="search" class="search-field" placeholder="搜尋..." value="" name="searchTerm">
                        </label>
                        <input type="submit" class="search-submit" value="搜尋">
                    </form>
                </div>
                <div class="widget widget-sort-by">
                    <h5 class="widget-title">
                        產品排序依
                    </h5>
                    <ul>
                        <li><a href="#" data-href="@Url.Action("FilterProducts", "Home", new { categoryID = Model.CategoryID, sortBy = (int)SortByEnums.Default })" class="dataLink">最新</a></li>
                        <li><a href="#" data-href="@Url.Action("FilterProducts", "Home", new { categoryID = Model.CategoryID, sortBy = (int)SortByEnums.PriceLowToHigh })" class="dataLink">價錢低至高</a></li>
                        <li><a href="#" data-href="@Url.Action("FilterProducts", "Home", new { categoryID = Model.CategoryID, sortBy = (int)SortByEnums.PriceHighToLow })" class="dataLink">價錢高至低</a></li>
                    </ul>
                </div>
                <div class="widget widget_tag">
                    <h5 class="widget-title">
                        種類查詢
                    </h5>
                    <div class="tag-list">
                        @foreach (var category in Model.Categories)
                        {
                            <a href="#" data-href="@Url.Action("FilterProducts", "Home", new { categoryID = category.ID, sortBy = Model.SortBy })" class="dataLink">@category.Name</a>
                            <br />
                        }
                    </div>
                </div>
                <div class="widget widget-price">
                    <h5 class="widget-title">價錢條件</h5>
                    <div class="price-filter">
                        <div id="slide-range"></div>
                        <p class="amount" style="text-align: center; font-size: 16px">
                            NT$ 0 - @Model.MaximumPrice
                        </p>
                    </div>
                </div><!-- /.widget -->
                <a href="@Url.Action("Index", "Home")" class="btn btn-danger">重設</a>
            </div>
        </div>
        <div class="col-md-9">
            <div id="productsDiv">
                @{
                    var filterProductsViewModel = new FilterProductsViewModel();
                    filterProductsViewModel.Products = Model.Products;
                    filterProductsViewModel.Pager = Model.Pager;
                    filterProductsViewModel.CategoryID = Model.CategoryID;
                    filterProductsViewModel.SortBy = Model.SortBy;

                    Html.RenderPartial("FilterProducts", filterProductsViewModel);
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(".dataLink").click(function (e) {
        e.preventDefault();

        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
    });

    function GetData(dUrl) {
        $.ajax({
            url: dUrl,
            data: {
                searchTerm: $("#SearchTerm").val(),
                minimumPrice: priceSlider.slider("values", 0),
                maximumPrice: priceSlider.slider("values", 1),
                categoryID: $("#CategoryID").val(),
                sortBy: $("#SortBy").val()
            }
        })
        .done(function (response) {
            $("#productsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    }

    var callTimeout;
    var priceSlider = $("#slide-range").slider({
        range: true,
		min: 0,
        max: @Model.MaximumPrice,
        values: [0, @Model.MaximumPrice],
        slide: function (event, ui) {
            var minPrice = ui.values[0];
            var maxPrice = ui.values[1];
            $(".amount").text("NT$ " + minPrice + " - " + maxPrice);
            clearTimeout(callTimeout);
            callTimeout = setTimeout(PriceRangeChange, 100);
        }
    });

    function PriceRangeChange() {
        $.ajax({
			url: '@Url.Action("FilterProducts", "Home")',
            data: {
                searchTerm: $("#SearchTerm").val(),
                minimumPrice: priceSlider.slider("values", 0),
                maximumPrice: priceSlider.slider("values", 1),
                categoryID: $("#CategoryID").val(),
                sortBy: $("#SortBy").val()
			}
		})
        .done(function (response) {
            $("#productsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
    }
</script>