@model PhoneShop.ViewModels.OrderViewModel

<div>
    <table class="table table-striped" style="margin-top: 50px">
        <thead>
            <tr>
                <th class="font-weight-bold">會員</th>
                <th class="font-weight-bold">下訂時間</th>
                <th class="font-weight-bold">訂單總價</th>
                <th class="font-weight-bold">訂單狀態</th>
                <th class="font-weight-bold">訂單詳細</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Orders != null && Model.Orders.Count > 0)
            {
                foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.UserID</td>
                        <td>@order.OrderTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@order.TotalAmount</td>
                        <td>@order.Status</td>
                        <td>
                            <button class="detailBtn" data-id="@order.ID" data-userid="@order.UserID">詳細</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">訂單為空</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    //按下訂單詳細按鈕時
    $(".detailBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Detail", "Order")',
            data: {
                ID: $(this).attr("data-id"),
                UserID: $(this).attr("data-userid")
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response); //渲染至Order/Index <div id="actionContainer">

            focusAction("actionContainer"); // call focusAction funciton in Order/Index
        })
        .fail(function () {
            alert("FAIL");
        });
    });
</script>